#page-container {
    position: relative;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}
  
#content-wrap {
    padding-bottom: 7rem;   
    background-color: red;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sidebar {
    background-color: aliceblue;
    height: 7rem;
    width: 25rem;
    float: right;
    box-shadow: 0px 0px 20px 0px black;
    border-radius: 10px;
}

#chatlog {
    background-color: aqua;
    width: 97.5%;
    flex: 0.95;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7rem;    
    background-color: aqua;   
    }

body {
    margin: 0;
    padding: 0;
}

.menu_box {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_logo {
    height: 6rem; 
    width: 6rem; 
    padding: 0px;
}