html {
    font-size: 120%;
}

@media only screen and (max-width: 900px) {
    html {
        font-size: 80%;
    }
}

.login {
    background-color: whitesmoke;
    margin-top: 0.45rem; 
    margin-bottom: 0.45rem; 
    width: 15rem; 
    height: 1.3rem;
    border-radius: 7px;
    border: 2px solid black;
}

.login:hover {
    background-color: white;
    border-color: green;
}

.login_submit {
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid green;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    color: lightgray;
    font-weight: bold;
}

.login_submit:hover {
    color: white;
}

.register {
    background-color: whitesmoke;
    margin-top: 0.45rem; 
    margin-bottom: 0.45rem; 
    width: 15rem; 
    height: 1.3rem;
    border-radius: 7px;
    border: 2px solid black;
}

.register:hover {
    background-color: white;
    border-color: darkmagenta;
}

.register_submit {
    background-color: darkmagenta;
    border: 0.5px solid darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: 2rem;
    color: lightgray;
    font-weight: bold;
}

.register_submit:hover {
    color: white;
}

::placeholder {
    font-size: 0.7rem;
    padding-left: 0.3rem;
}