<!DOCTYPE html>
    <head>
        <title>StuyLife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/game.css">
    </head>
    <body style="background-color: aqua; padding: 0px; margin: 0px; width: 100vw; min-height: 100svh; display: flex; overflow-x: hidden; justify-content: center;">
        <p>You have been caught for murdering an innocent person and will be imprisoned for 3303030 years. You parents and friends all hate you. You are a failure.</p>
        <p> Your life as a Stuyvesant student is over. You are a disgrace to your family and will be in jail for all of eternity.<p>
    </body>
</html>