<!DOCTYPE html>
    <head>
        <title>StuyLife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/game.css">
    </head>
    <body style="background-color: aqua; padding: 0px; margin: 0px; width: 100vw; min-height: 100svh; display: flex; align-items: flex-end; overflow-x: hidden;">
        <div style="height: 8rem; width: 100%; background-color: white; display: flex; align-items: center; justify-content: space-evenly;">
            <div class="menu_box" style="background-color: blue;">
                <img src="../static/assets/e.svg" style="height: 7rem; width: 7rem; padding: 0px;">
            </div>
            <div class="menu_box" style="background-color: yellowgreen;">
                <img src="../static/assets/c.svg" style="height: 7rem; width: 7rem; padding: 0px;">
            </div>
            <div class="menu_box" style="background-color: pink;">
                <img src="../static/assets/1.svg" style="height: 7rem; width: 7rem; padding: 0px;">
            </div>
            <div class="menu_box" style="background-color: black;">
                <img src="../static/assets/r.svg" style="height: 7rem; width: 7rem; padding: 0px;">
            </div>
            <div class="menu_box" style="background-color: yellow;">
                <img src="../static/assets/a.svg" style="height: 7rem; width: 7rem; padding: 0px;">
            </div>
        </div>
    </body>
</html>