<!DOCTYPE html>
    <head>
        <title>StuyLife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/game.css">
    </head>
    <body style="background-color: aqua; padding: 0px; margin: 0px; width: 100vw; min-height: 100svh; display: flex; overflow-x: hidden; justify-content: center;">
        <div style="height: 7rem; width: 100%; background-color: white; display: flex; align-items: center; justify-content: space-evenly; align-self: flex-end; position: relative;">
            <div onclick="emenu()" class="menu_box" style="background-color: blue;">
                <img onclick="emenu()"  class="menu_logo" src="../static/assets/e.svg">
            </div>
            <div class="menu_box" style="background-color: yellowgreen;">
                <img class="menu_logo" src="../static/assets/c.svg">
            </div>
            <div class="menu_box" style="background-color: pink;">
                <img class="menu_logo" src="../static/assets/1.svg">
            </div>
            <div class="menu_box" style="background-color: black;">
                <img class="menu_logo" src="../static/assets/r.svg">
            </div>
            <div class="menu_box" style="background-color: yellow;">
                <img class="menu_logo" src="../static/assets/a.svg">
            </div>
        </div>
        <div id="emenu" style="height: 85%; width: 45%; background-color: white; align-self: center; position: absolute; border-radius: 2rem; z-index: 2; box-shadow: 0px 0px 20px 0px black; display: none;">

        </div>
        <div onclick="unblind()" id="blind" style="position: absolute; height: 100%; width: 100%; background-color: black; opacity: 0.6; z-index: 1; display: none;">

        </div>
        <script src="../static/js/script.js"></script>
    </body>
</html>