<!DOCTYPE html>
    <head>
        <title>StuyLife</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/game.css">
    </head>
    <body style="background-color: aqua; padding: 0px; margin: 0px; width: 100vw; min-height: 100svh; display: flex; align-items: flex-end; overflow-x: hidden;">
        <div style="height: 8rem; width: 100%; background-color: white; display: flex; align-items: center; justify-content: space-evenly;">
            <div style="height: inherit; background-color: blueviolet; width: 25%;">
            </div>
            <div style="height: inherit; background-color: blue; width: 25%">
            </div>
            <div style="height: inherit; background-color: yellow; width: 25%">
            </div>
            <div style="height: inherit; background-color: greenyellow; width: 25%">
            </div>
        </div>
    </body>
</html>